/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.container {
    max-width: 1450px;
    width: 100%;
    margin: 100px auto;
}

a:hover,
h3:hover {
    color: aqua;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

p {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

p:hover {
    color: #ffffff;
}

.header__container {

    padding-left: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;



}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 488px;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: black;
    height: 85px;


}

.nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
}

.nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li a {
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;

    font-family: 'DM Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.meta__logo {
    width: 123px;
    height: 32px;
}

.social_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
}

.social_icons img {
    width: 36px;
    height: 36px;
}

.social_icons img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);


}

.main__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main__left {
    padding-left: 77px;

}

.main__title {
    font-family: 'Audiowide', cursive;
    font-size: 51px;
    line-height: 61px;
    font-weight: 400;
    width: 484px;
    color: #FFFFFF;
    margin-bottom: 43px;

}

.main__discription {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 340px;
    line-height: 26px;
    margin-bottom: 120px;
}

.learn__more {
    background-color: rgba(141, 253, 27, 1);

    width: 205px;
    height: 60px;
    color: #000000;
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.learn__more:hover {

    background-color: #5500ff;
}

.learn__more:active {
    content: "";
    background-color: aqua;

}

.main__right {
    width: 870px;
    height: 653px;
}

.wave__second__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 185px;
}

.second__left {
    padding-left: 56px;
}

.second__title {
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    margin-left: 87px;
}

.second__ttle--grey {
    width: 351px;
    color: #a8a8a8;
    margin-bottom: 41px;
}

.second__right p,
.story__title p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    width: 480px;
    margin-bottom: 20px;

}

.second__right--title {
    color: rgba(141, 253, 27, 1);
    width: 546px;
    font-family: 'DM Mono', monospace;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 27px;
    border-left: 1px solid rgba(141, 253, 27, 1);
    padding-left: 22px;
}

.get__button--green {
    border: 1px solid rgba(141, 253, 27, 1);
    width: 246px;
    height: 42px;
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
    margin-top: 27px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.get__button--green:hover {
    background-color: rgba(141, 253, 27, 1);
    color: #000000;
    border: none;
}

.get__button--green:active {
    background-color: #5500ff;
    color: #FFFFFF;
}

.artists {
    --c: #ffffff;
    padding-left: 800px;
    font-weight: 400;
    font-family: 'Audiowide', cursive;
    line-height: 200px;
    font-size: 79px;
    color: #0000;
    overflow: hidden;
    text-shadow: 0 0 var(--c), 11ch 0 var(--c);
    -webkit-animation: l6 4s infinite linear;
    animation: l6 4s infinite linear;
}

.artists:before {
    content: "ARTIST ";

}

@-webkit-keyframes l6 {
    to {
        text-shadow: -9ch 0 var(--c), 0ch 0 var(--c)
    }
}

@keyframes l6 {
    to {
        text-shadow: -9ch 0 var(--c), 0ch 0 var(--c)
    }
}

.artists__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 60px;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    padding-left: 60px;

}

.artists__card {
    width: 245px;
    height: 309px;
    text-align: center;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

}

.artists__card:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.artists__card img {
    width: 245px;
    height: 245px;
}

.artists__card h4 a {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    line-height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    text-decoration: none;

}

.artists__card h4 a:hover {
    color: blue;
}

.mrl__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.mrl__story {
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 37px;
    line-height: 46px;
}

.mrl__story--grey {
    color: rgba(255, 255, 255, 0.7);
}

.meta__box {
    width: 878px;
    height: 538px;
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;

    background-color: rgba(34, 34, 34, 1);
}

.story__img {
    width: 172px;
    height: 253px;
}

.story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.story__before {

    width: 282px;
    height: 72px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 31px;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.story__before:hover {
    color: aqua;
}

.story__before--grey {
    background-color: rgba(34, 34, 34, 1);
    color: rgba(141, 253, 27, 1);
}

.back__guitar {
    background-image: url(../images/back-gitar.png);
    height: 240px;
    background-repeat: no-repeat;
}

.roadmap {
    position: relative;
    height: 1370px;
    background-image: url(../images/back-circle.png), url(../images/back-circle.png), url(../images/back-circle.png);
    background-position: 5% -30%, 100% 40%, 5% 120%;
    background-repeat: no-repeat, no-repeat, no-repeat;


}

.road__map__title {
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    margin-top: 118px;
    margin-bottom: 118px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.road__card {

    position: absolute;
    width: 540px;
    height: 271px;
    top: 200px;
    left: 450px;
    background-color: rgba(34, 34, 34, 1);
    border: 1px solid rgba(141, 253, 27, 1);

}

.card-2 {
    top: 600px;
    height: 329px;
}

.card-3 {
    top: 1000px;
    height: 290px;

}

.card__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid rgba(141, 253, 27, 1);
}

.card__top h2 {
    width: 45px;
    height: 45px;
    padding: 8px 16px 8px 14px;
    border: 1px solid rgb(128, 255, 1);
    background-color: rgba(141, 253, 27, 1);
    font-family: 'DM Mono', monospace;
    font-size: 28px;
    line-height: 29px;
    font-weight: 400;
}

.phase p {
    color: rgba(141, 253, 27, 1);
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.phase h4 {
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9);
}

.card__info {
    padding: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card__info .card__web {
    margin-left: 22px;
}

.card__info p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
}

.card__info img {
    width: 129px;
    height: 129px;
    border-radius: 8px;
}

.logoholder {
    --c: #ffffff;
    padding-left: 500px;
    font-weight: 400;
    font-family: 'Audiowide', cursive;
    line-height: 100px;
    text-wrap: nowrap;
    word-spacing: 50px;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    text-shadow: 0 0 var(--c);
    -webkit-animation: holder 4s infinite linear;
    animation: holder 4s infinite linear;
}

.logoholder::before {
    content: "LOGOHOLDER  LOGOHOLDER  LOGOHOLDER LOGOHOLDER LOGOHOLDER ";
}

@-webkit-keyframes holder {

    to {
        text-shadow: -10ch 0 var(--c)
    }
}

@keyframes holder {

    to {
        text-shadow: -10ch 0 var(--c)
    }
}

.partners-green {
    color: rgba(141, 253, 27, 1);
    font-family: 'DM Mono', monospace;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 12px;
    text-align: center;
}

.frequently {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

}

.frequently__left h2 {
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;

}

.frequently__left .asked-grey {
    color: rgba(255, 255, 255, 0.6);
}

.frequently__left img {
    margin-top: 51px;
    width: 360px;
    height: 360px;

}

.frequently__right {
    width: 580px;
    height: 545px;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 23px;
    overflow: hidden;
}

.frequently__right h5 {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.frequently__right p {
    font-family: 'Inter', cursive;
    color: rgba(196, 196, 196, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;

}

.freq-p-hidden {
    width: 500px;
    height: 25px;
    white-space: wrap;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    overflow: hidden;

}

.freq-p-second {
    width: 500px;
    height: 100px;
    white-space: wrap;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    overflow: hidden;

}

.freq-p-last {
    width: 500px;
    height: 200px;
}

.frequently__right p:hover {
    overflow: visible;
    margin-bottom: 200px;
    background-color: rgba(34, 34, 34, 0.8);
}

.team {
    --c: hsl(0, 0%, 100%);
    padding-left: 700px;
    font-weight: 400;
    font-family: 'Audiowide', sans-serif;
    line-height: 100px;
    text-wrap: nowrap;
    word-spacing: 100px;
    font-size: 79px;
    color: #0000;
    overflow: hidden;
    text-shadow: 0 0 var(--c);
    -webkit-animation: team 5s infinite linear;
    animation: team 5s infinite linear;
}

.team::before {
    content: "TEAM TEAM TEAM TEAM";
}

@-webkit-keyframes team {

    to {
        text-shadow: -5ch 0 var(--c)
    }
}

@keyframes team {

    to {
        text-shadow: -5ch 0 var(--c)
    }
}

.team__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: space-evenly;

    -ms-flex-pack: space-evenly;

    justify-content: space-evenly;

}

.team__card {
    width: 320px;
    height: 552px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.team__card h3 {
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 20px;
}

.team__card h5 {
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 16px auto 22px auto;
    color: rgba(141, 253, 27, 1);
}

.card__social--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px;
}

.team__card p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 238px;
    margin: 21px 41px 18px;
}

.join__discord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.discord__title {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 51px;
    line-height: 60.61px;
    color: rgba(255, 255, 255, 1);
}

.discord__title--green {
    color: rgba(141, 253, 27, 1);
}

.discord__info {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.6px;
    color: rgba(255, 255, 255, 0.7);
    width: 345px;
    margin: 34px auto 35px auto;
}

.discord__join__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 213px;
    height: 43px;
    background-color: rgba(141, 253, 27, 1);
    padding: 17px 30px 20px 30px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.discord__join__button a {
    color: rgba(0, 0, 0, 1);
    font-family: 'DM Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

footer {
    height: 338px;
    background-color: rgba(66, 0, 106, 1);

}

.footer__container {
    padding: 101px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.footer__logos img {
    width: 103px;
    height: 24px;
    margin-bottom: 70px;
}

.right__reserved {
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 21px;
    font-family: 'DM Mono', monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;

}

.footer__list li {
    list-style: none;
    color: rgba(255, 255, 255, 0.9);
    text-align: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    line-height: 60px;
}

p:hover,
a:hover,
h3:hover,
h2:hover {
    color: aqua;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

p,
h2,
h3,
h4,
h5 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

p:hover {
    color: #ffffff;
}